<h1>F.A.Q.</h1>

	
<p>As an investor, you're faced with two distinct approaches to investing: hands on and hands off.  A hands on approach usually involves careful research to try to understand what stock might go up or go down.  To be successful, an investor needs to pay careful attention the health of a company, management team, industry trends, and economic trends to name a few.  A hands on investor is committed to beating the market.  A hands on approach can be a full time job!</p>

<p>A hands off approach assumes you're not going to beat the market, so you might as well join it.  This approach usually involves holding a portfolio of index funds or ETFs (funds that track an index, like the S&P 500).  With a hands off approach, you decide on your portfolio (a single fund, or a variety of funds based on allocation) and make regular contributions.</p>

<p>There are a number of online tools for the hands on investor, but very few for the hands off investor.  SimplifiedInvesting.net aims to change that.</p>

<p><strong>What is SimplifiedInvesting.net?</strong>SimplifiedInvesting.net is a tool to help you automate your investing schedule.  You pick a portfolio, 
	
	This site arose to help me plan my own investment schedule.  I was looking for a tool to understand what I should buy based on my portfolio.  I couldn't find
