<h1>How does it work?</h1>
<br />

<p>1) Signup for an account (It's free!)</p>
<p>2) Choose a portfolio (or create your own)</p>
<p>3) Tell us how much and how often you want to contribute</p>

<p><strong>We tell you what to buy to keep your portfolio balanced.</strong></p>